.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: gold;
  padding: 10px 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.steps-sequencer {
  position: relative;
}
.steps-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  margin: 0 auto;
}

.steps-line {
  display: flex;
  justify-content: space-between;
}

.step {
  width: 30px;
  height: 50px;
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  
}
.step.active {
  background-color: red !Important;
}

.step.current {
  border: 2px solid blueviolet;
  background-color: blueviolet;
}

.main-body {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.instrument-rack {
  display: flex;
  justify-content: space-around;
  height: 300px;
}

.instrument {
  height: 100%;
  width: 100px;
  border: 1px solid black;
  margin-right: 10px;
  overflow: hidden;
  transition: box-shadow 0.2s ease-in;
}

.instrument.selected {
  box-shadow: 0px 3px 7px darkgreen
}

.instrument.selected .select-button {
  background: greenyellow;
}

.instrument > div {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.instrument .name {
  z-index: 200;
  color: white;
}
input[type=range].range-slider {
  z-index: 100;
  transform: rotateZ(-90deg);
}

.fx-wrapper {
  border: 1px solid white;
  background: #888;
  
  color: white;
  height: 125px;
  
}

.fx-button {
  border-radius: 5px;
  border: 2px solid white;
  background: darkorange;
  padding: 10px;
  color: white;
}

.fx-collector-window {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  max-height: 300px;
  overflow-y: auto;
}


.sender {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .sender > div:not(:nth-child(2n)){ 
  padding-right: 15px;
} */

.sender span{ 
  font-size: 12px;
}

.select-button {
  width: 20px;
  padding: 10px;
  background: white;
  border: none;
}

.button-mute.mute {
  background-color: crimson;
}

.Level-container {
 /*  position: relative; */
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls button, .controls button:focus, .controls button:active{
  border: none;
  outline: none
}

.controls input {
  background: transparent;
  border-bottom: 1px solid black;
  border-left: none;
  border-top: none;
  border-right: 0;
  outline: none;
}

.controls button{ 
  background-color: transparent;
  font-size: 53px;
  margin-bottom: 25px;
}

div[id*='meter-']{
  width: 30px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    /* display: none; */
    margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
